<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangl.swipedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".asactivity.SwipeConfigActivity"
            android:label="@string/config_note" />
        <activity android:name=".asactivity.HorizontalListActivity" />
        <activity android:name=".asactivity.VerticalListActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".asview.SimpleImagesActivity"
            android:label="@string/images_note" />
        <activity
            android:name=".withcoordinator.WithCoordinateLayoutActivity"
            android:theme="@style/NoActionBarTransparentStyle" />
    </application>
</manifest>